# Ignores

out/
.next/
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf
node_modules/
.env.*
*.log
npm-debug.log*
.DS_Store
tsconfig.tsbuildinfo